// Put any @imports here
// See Readme for a list of supported ones
@import 'foundation';
@import 'font-awesome';
@import 'bourbon';
@import 'neat';

body {
  background: #fff;

  ul {
    list-style: none;
  }

// Home View //
  
  .fooTitle {
    text-align: center;
  }

  .commentList {
    margin-top: 5%;

    .homeFields {
      margin-left: 2%;

      span {
        margin-left: 2%;
      }

      .properties {
        font-weight: bold;
      }
    }
  }


// Contact Form //
  
  .contactTitle {
    text-align: center;
  }

  .contactForm {
    @include span-columns(6);
    @include shift(3);
    margin-top: 5%;

    input {
      margin-bottom: 0;
    }

    .wrong {
      color: red;
      margin-bottom: 4%;
      display: block;
      font-size: 80%;
    }
  }
}
