// Put any @imports here
// See Readme for a list of supported ones
@import 'foundation';
@import 'font-awesome';

body {
  background: #fff;

  ul {
    list-style: none;
  }

// Home View //
  
  .fooTitle {
    text-align: center;
  }

  .commentList {
    margin-top: 5%;

    .homeFields {
      margin-left: 2%;

      span {
        margin-left: 2%;
      }

      .properties {
        font-weight: bold;
      }
    }
  }


// Contact Form //

  .wrong {
    color: red;
    margin-bottom: 4%;
  }
}
