// Put any @imports here
// See Readme for a list of supported ones
@import 'foundation';

body {
  background: #e2ebf3;

  ul {
    list-style: none;
  }

// Home View //
  
  .properties {
    font-weight: bold;
  }

  .wrong {
    color: red;
    margin-bottom: 4%;
  }
}
