<h3 class='fooTitle'>{{vm.title}}</h3>

<ul ng-repeat='contact in vm.allContacts' class='commentList'>
<li class='homeFields'><i class="fa fa-user personFont"></i><span class='properties'>Name:</span> {{contact.fullName}}</li>
<li class='homeFields'><i class="fa fa-envelope"></i><span class='properties'>Email:</span> {{contact.email}}</li>
<li class='homeFields'><i class="fa fa-spinner fa-pulse"></i><span class='properties'>Website:</span> <a href="#">{{contact.website}}</a></li>
<li class='homeFields'><i class="fa fa-comment"></i><span class='properties'>Comments:</span> {{contact.msg}}</li>
<hr>
</ul>



